<a href="https://colab.research.google.com/github/narayananv10/NLP/blob/Homework/CreditFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv('UCI_Credit_Card.csv')
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [0]:
scaler = MinMaxScaler()

In [0]:
df = df.drop('ID',1)

In [0]:
X = df.drop(['default.payment.next.month'],1)
y = df['default.payment.next.month']

In [0]:
X = pd.DataFrame(scaler.fit_transform(X), columns = list(X))

In [0]:
X_train, X_test, y_train, y_test = tts(X,y,test_size = 0.3, random_state = 54)

In [0]:
model = GaussianNB()

In [12]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
pred = model.predict(X_test)

In [15]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.88      0.73      0.80      7006
           1       0.40      0.64      0.50      1994

    accuracy                           0.71      9000
   macro avg       0.64      0.69      0.65      9000
weighted avg       0.77      0.71      0.73      9000