<a href="https://colab.research.google.com/github/narayananv10/NLP/blob/master/Narayanan_Precily_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
import nltk
from string import digits
import re
nltk.download('stopwords')
from sklearn.feature_extraction.text import CountVectorizer
from scipy.spatial import distance
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [83]:
df = pd.read_csv('Text_Similarity_Dataset.csv',index_col=0)
df.head()

                                                       text1                                              text2
Unique_ID
0          savvy searchers fail to spot ads internet sear...  newcastle 2-1 bolton kieron dyer smashed home ...
1          millions to miss out on the net by 2025  40% o...  nasdaq planning $100m share sale the owner of ...
2          young debut cut short by ginepri fifteen-year-...  ruddock backs yapp s credentials wales coach m...
3          diageo to buy us wine firm diageo  the world s...  mci shares climb on takeover bid shares in us ...
4          be careful how you code a new european directi...  media gadgets get moving pocket-sized devices ...

In [84]:
print(len(df.text1[0]))

2865

In [0]:
def remove_stopwords(text):
  token = text.split()
  return ' '.join([w for w in token if not w in stop_words])

In [0]:
def remove_punctuation(text):
  translator = str.maketrans('', '', string.punctuation)
  text = text.translate(translator)
  return text

In [0]:
def remove_num(text):
  remove_digits = str.maketrans('', '', digits) 
  res = text.translate(remove_digits)
  return res

In [0]:
def preprocess(text):
  text = remove_stopwords(text)
  text = remove_punctuation(text)
  text = remove_num(text)
  return text

In [89]:
df.text1 = df.text1.apply(preprocess)
df.text2 = df.text2.apply(preprocess)
df.head()

                                                       text1                                              text2
Unique_ID
0          savvy searchers fail spot ads internet search ...  newcastle  bolton kieron dyer smashed home win...
1          millions miss net   uk population still withou...  nasdaq planning m share sale owner technologyd...
2          young debut cut short ginepri fifteenyearold d...  ruddock backs yapp credentials wales coach mik...
3          diageo buy us wine firm diageo world biggest s...  mci shares climb takeover bid shares us phone ...
4          careful code new european directive could put ...  media gadgets get moving pocketsized devices l...

In [90]:
print(len(df.text1[0]))

1874

In [0]:
def cosine_countvectorizer(p1, p2):
    
    allsentences = [p1,p2]
    vectorizer = CountVectorizer()
    all_sentences_to_vector = vectorizer.fit_transform(allsentences)
    text_to_vector_v1 = all_sentences_to_vector.toarray()[0].tolist()
    text_to_vector_v2 = all_sentences_to_vector.toarray()[1].tolist()
    
    # distance of similarity
    cosine = distance.cosine(text_to_vector_v1, text_to_vector_v2)
    return 1-cosine

In [0]:
df['Similarity'] = df.apply(lambda x: cosine_countvectorizer(x['text1'], x['text2']), axis=1)

In [109]:
df.head(100)

                                                       text1  ... Similarity
Unique_ID                                                     ...
0          savvy searchers fail spot ads internet search ...  ...   0.041380
1          millions miss net   uk population still withou...  ...   0.058729
2          young debut cut short ginepri fifteenyearold d...  ...   0.081508
3          diageo buy us wine firm diageo world biggest s...  ...   0.166445
4          careful code new european directive could put ...  ...   0.116485
...                                                      ...  ...        ...
95         uk coal plunges deeper loss shares uk coal fal...  ...   0.084144
96         taylor poised scotland return simon taylor nam...  ...   0.031724
97         orange colour clash set court row colour orang...  ...   0.064250
98         london hope chepkemei london marathon organise...  ...   0.053692
99         egypt israel seal trade deal sign thaw relatio...  ...   0.072732

[100 rows x 3 columns]