<a href="https://colab.research.google.com/github/narayananv10/NLP/blob/Classwork/WordCount.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines=True)

In [0]:
df = pd.DataFrame(data)

In [0]:
def word_count(str):
  count = dict()
  word = str.split()
  for w in word:
    if w in count:
      count[w]+=1
    else:
      count[w]=1
  return count

In [0]:
df['reviewText_word_count'] = df['reviewText'].apply(word_count)
df['summary'] = df['summary'].apply(word_count)

In [0]:
df.head()

       reviewerID  ...                              reviewText_word_count
0  A32T2H8150OJLU  ...  {'I': 7, 'bought': 1, 'my': 4, 'first': 1, 'HP...
1  A3MAFS04ZABRGO  ...  {'WHY': 1, 'THIS': 2, 'BELATED': 1, 'REVIEW?':...
2  A1F1A0QQP2XVH5  ...  {'I': 2, 'have': 2, 'an': 2, 'HP': 3, '48GX': ...
3   A49R5DBXXQDE5  ...  {'I've': 4, 'started': 1, 'doing': 2, 'more': ...
4  A2XRMQA6PJ5ZJ8  ...  {'For': 1, 'simple': 1, 'calculations': 2, 'an...

[5 rows x 10 columns]

In [0]:
def count(str):
  wordCount = {'vowels':0,'cons':0,'count':0}
  str = str.lower()
  wordCount['count']=words(str)
  for i in range(0,len(str)):
    if str[i] in ('a','e','i','o','u'):
      wordCount['vowels']+=1
    else:
      wordCount['cons']+=1
    
  return wordCount

In [0]:
def words(str):
  words = str.split()
  count = 0
  for w in words:
    count+=1
  return count

In [0]:
df['reviewText_count'] = df['reviewText'].apply(count)

In [0]:
df['reviewText_count'].head()

0      {'vowels': 279, 'cons': 693, 'count': 186}
1    {'vowels': 1504, 'cons': 3851, 'count': 911}
2       {'vowels': 134, 'cons': 361, 'count': 96}
3    {'vowels': 1089, 'cons': 2559, 'count': 603}
4      {'vowels': 208, 'cons': 496, 'count': 120}
Name: reviewText_count, dtype: object

In [0]:
#import re
#def BorG(str):
#  b_or_g = {'count_b':0,'count_g':0}
#  word = str.split()
#
#  for w in word:
#    w = re.sub("[^\w\s]", "",w)
#    b = re.findall("^B.|^b.",w)
#    g = re.findall("g$",w)
# 
#    for i in b:
#      b_or_g['count_b']+=1
#    for i in g:
#      b_or_g['count_g']+=1
# return b_or_g

def beginbBendgG(l):
    
    l1 = re.findall(r'\b[bB]\w+', l)
    n = re.findall(r'\b\w+[gG]\b',l)
    for x in n:
        if x not in l1:
            l1.append(x)

    return l1

In [0]:
df['reviewText_B_or_G'] = df['reviewText'].apply(beginbBendgG)

In [0]:
df['reviewText_B_or_G'].head()

0    [bought, but, by, buy, but, be, but, best, be,...
1    [BELATED, burying, brandname, best, business, ...
2                [been, But, kicking, giving, working]
3    [been, because, but, buy, Black, But, beats, b...
4    [best, business, but, be, brackets, practicing...
Name: reviewText_B_or_G, dtype: object